{% extends "auctions/layout.html" %}

{% block title %}
    {{ category.category }}
{% endblock %}

{% block body %}
    <h2>{{ category.category }}</h2>
    <div class="index listing wrapper">
        {% for auction in auctions %}
            <div class="index auction wrapper"><a href="{% url 'auction' auction.id %}">

                {% if auction.image_url %}
                    <img class="index auction image" src="{{ auction.image_url }}">
                {% else %}
                    <img class="index auction image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/600px-No_image_available.svg.png">
                {% endif %}

                <div class="index auction title">
                    {{ auction.title }}
                </div>

                <div class="index auction description">{{ auction.description }}</div>
                
                <div class="index auction price">$ {{ auction.get_current_price }}</div>
            </a></div>
        {% empty %}
            No active Auction in {{ category.category }}.
        {% endfor %}
    </div>

{% endblock %}
